.logo {
    height: 28px;
    margin: 18px;
    background-image:url("./logo.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.collapse{
    width: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 50%;
}