.logo-header{
  height: 64px;
  padding: 18px 15px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  .logo {
  height: 28px;
  //margin: 18px 15px;
  background-image: url("./logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
  .collapse {
    width: 28px;
    //margin: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}


.ant-menu {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  border-radius: 15px;

  .ant-menu-submenu {
    background: rgba(255, 255, 255, 0);
    .ant-menu-item {
      //background: rgba(255, 255, 255, 0.1);
    }
    .ant-menu-sub{
    }
    .ant-menu-item-selected{
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      color:rgb(0,0,0);
    }
  }
  .ant-menu-submenu-selected{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color:rgb(0,0,0);
  }
}



