/* index.css */
.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
}

.trigger {
  font-size: 18px;
  cursor: pointer;
}

.header-search {
  width: 100%;
  max-width: 600px;
  min-width: 200px;
}
.header-search .ant-btn-primary {
  width: 50px;

}

.header-actions button {
  font-weight: bold;
}

.header-actions .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}
